--extra-index-url https://download.pytorch.org/whl/cpu
torch
langchain-huggingface
langchain-groq
langchain-google-genai
langchain-core
langgraph
sentence-transformers
rank_bm25
chromadb
python-dotenv
streamlit

-e .
