--extra-index-url https://download.pytorch.org/whl/cpu
torch
docling
langchain-huggingface
langchain-groq
langchain-core
langgraph
sentence-transformers
rank_bm25
chromadb
python-dotenv
streamlit
arize-otel
openinference-instrumentation-langchain

-e .
